body{
    background: #020622;
    background-image:url(a.PNG);
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    
}

#app{
    display: grid;
    grid-auto-rows: minmax(70px, auto);
    /* grid-template-columns:  */
   /* grid-template-columns: auto auto auto auto;*/
    height:98vh;
    width:78vh;
    margin-left: 60vh;
    background:rgb(191, 192, 196);
    /*border-color: rgb(126, 122, 122);*/
    /*border-style: solid;*/
    border-width:5px;
    border-radius: 30px;
    color: #020622;
    justify-content: center;
    grid-gap: 1em;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    
}

.holder{

}

.entry{
    display: block;
    background: #020622;
    width: 75vh;
    height: 32vh;
    margin-left:12vh;
    border-color: #020622;
    border-style: solid;
    border-width:3px;
    border-radius: 30px;
    color: rgb(75, 103, 156);
   background-image: url(m.PNG);
}

#entryHolder{
    margin-left: 15px;
    margin-top: 2px;
}

#date{
 color: rgb(255, 136, 0);
 margin-left: 50px;
 font-size: 20px;
}

#temp{
    color: rgb(255, 136, 0);
    margin-left: 50px;
    font-size: 20px;
}

#content{
    color: rgb(255, 136, 0);
    margin-left: 50px;
    font-size: 20px;
}

.headline {
     width: 100vh;
     height: 70px;
     text-align: center;
     padding-top: 5vh;
     font-size: 30px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
     font-weight: bold; 
     /*color: rgb(255, 136, 0);*/

}
.zip{
   
   margin-left: 80px;
}
.feel{
    margin-left: 80px;
}
.title{
   font-size: 20px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
   font-weight: bold;  
   margin-top: 3px;
   text-align: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 20px;
}

input{
    display:block;
    height: 50px;
    width: 183px;
    margin-left: 10px;
    /*background:#e6dfdfde;*/
    color: #020622;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    /*border: none;*/
    border-color:#ffffff;
    border-style: solid;
    border-width:1px;
    border-radius: 30px;
    box-shadow: 2px 4px 8px rgb(49, 49, 49);
    text-align: center;
}

button{
    width: 130px;
    height: 50px;
    background: rgb(75, 103, 156);
    color:#020622;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px rgb(49, 49, 49);
    margin-left: 42vh;
    border-color: rgb(75, 103, 156);
    border-style: solid;
    border-width:5px;
    border-radius: 30px;
}
button:hover{
    background: #020622;
    color:rgb(255, 136, 0);
    border-color: #020622;
}
button:active {
    transform: translateY(4px);
  }
h1{
    font-size: 36px;
}

textarea{
    background:#ffffff;
    color: #111111;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    width: 180px;
    height: 40px;
    border-color: #ffffff;
    border-style: solid;
    border-width:5px;
    border-radius: 30px;
    margin-left: 10px;
    text-align: center;
    box-shadow: 2px 4px 8px rgb(49, 49, 49);
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #020622; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #020622; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #020622; 
    font-family: 'Oswald', sans-serif;

} 